header{
    background: {
         size:cover;
         image: url('https://images2.boardingschoolreview.com/photo/1122x864/1000/593/img-academy-oqxuxY.jpg');
         position: center;
         repeat:no-repeat;
    } 
    height: 450px;
     
}

.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    backdrop-filter: blur(7.5px);
    opacity: 1.6;
    top: 0;
    left: 0;
}